<section id="<%= dom_id(bubble, :thread) %>" class="comments align-center center borderless margin flex flex-column gap-half" style="--bubble-color: <%= bubble.color %>;">
  <%= render partial: "thread_entries/thread_entry", collection: bubble.thread.entries, cache: true %>
  <%= render "comments/new", bubble: bubble %>
</section>
